<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.Dao.Car_infoDao">

    <resultMap id="CarInfoMapper" type="com.aaa.Entity.Car_info">
        <result property="id" column="id"></result>
        <result property="brand_id" column="brand_id"></result>
        <result property="group_id" column="group_id"></result>
        <result property="series_id" column="series_id"></result>
        <result property="full_name" column="full_name"></result>
        <result property="ciname" column="ciname"></result>
        <result property="brand_name" column="brand_name"></result>
        <result property="group_name" column="group_name"></result>
        <result property="series_name" column="series_name"></result>
        <result property="state" column="state"></result>
        <result property="minprice" column="minprice"></result>
        <result property="maxprice" column="maxprice"></result>
        <result property="year" column="year"></result>
    </resultMap>


    <select id="showCarInfoMsg" resultMap="CarInfoMapper">
          select * from car_info where brand_name like '%${param1}%' and full_name like '%${param2}%'
    </select>


</mapper>
