<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 制动配置 -->
<mapper namespace="com.aaa.Dao.ChassisbrakeDao">
    <resultMap id="ChassisMapper" type="com.aaa.Entity.Chassisbrake">
        <result property="bodystructure" column="bodystructure"></result>
        <result property="frontbraketype" column="frontbraketype"></result>
        <result property="rearbraketype" column="rearbraketype"></result>
        <result property="parkingbraketype" column="parkingbraketype"></result>
        <result property="drivemode" column="drivemode"></result>
        <result property="frontsuspensiontype" column="frontsuspensiontype"></result>
    </resultMap>

    <select id="showChassisbrake" resultMap="ChassisMapper">
        select bodystructure,frontbraketype,rearbraketype,parkingbraketype,drivemode,frontsuspensiontype from chassisbrake
    </select>

    <insert id="addChassisbrake">
        insert into chassisbrake values(#{bodystructure},#{frontbraketype},#{rearbraketype},#{parkingbraketype},#{drivemode},#{frontsuspensiontype})
    </insert>
</mapper>
