<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.aaa.Dao.CustomerAllDao">

    <resultMap id="CustomerMap" type="com.aaa.Entity.Customer">
        <result property="cid" column="cid"></result>
        <result property="cname" column="cname"></result>
        <result property="ctname" column="ctname"></result>
        <result property="ctelphone" column="ctelphone"></result>
        <result property="caddress" column="caddress"></result>
        <result property="cidcard" column="cidcard"></result>
        <result property="csex" column="csex"></result>
        <result property="cpassword" column="cpassword"></result>
        <result property="handpic" column="handpic"></result>
        <result property="cstatus" column="cstatus"></result>
        <result property="isexpired" column="isexpired"></result>
        <result property="islocked" column="islocked"></result>
        <result property="isCreExpired" column="isCreExpired"></result>
        <result property="isenable" column="isenable"></result>

        <association property="customerauth" javaType="com.aaa.Entity.Customerauth">
            <result property="Ctaid" column="Ctaid"></result>
            <result property="Cid" column="Cid"></result>
            <result property="Caid" column="Caid"></result>
        </association>

        <association property="customerAuthority" javaType="com.aaa.Entity.CustomerAuthority">
            <result property="Caid" column="Caid"></result>
            <result property="Caname" column="Caname"></result>
        </association>
        <association property="customerfun" javaType="com.aaa.Entity.Customerfun">
            <result property="Gid" column="Gid"></result>
            <result property="Gname" column="Gname"></result>
            <result property="Mid" column="Mid"></result>
            <result property="Gnames" column="Gnames"></result>
        </association>

        <association property="customermodule" javaType="com.aaa.Entity.Customermodule">
            <result property="Mid" column="Mid"></result>
            <result property="Mname" column="Mname"></result>
            <result property="Murl" column="Murl"></result>
        </association>

        <association property="customerRole" javaType="com.aaa.Entity.CustomerRole">
            <result property="Crid" column="Crid"></result>
            <result property="Crname" column="Crname"></result>
            <result property="Crstate" column="Crstate"></result>
        </association>

        <association property="customerrole_cust" javaType="com.aaa.Entity.Customerrole_cust">
            <result property="Cuid" column="Cuid"></result>
            <result property="Cid" column="Cid"></result>
            <result property="Crid" column="Crid"></result>
        </association>

        <association property="customerrolemodule" javaType="com.aaa.Entity.Customerrolemodule">
            <result property="Rmid" column="Rmid"></result>
            <result property="Crid" column="Crid"></result>
            <result property="Mid" column="Mid"></result>
        </association>



    </resultMap>

    <resultMap id="CustomerPage" type="com.aaa.Entity.CustomerPage">
        <result property="cid" column="cid"></result>
        <result property="cname" column="cname"></result>
        <result property="ctname" column="ctname"></result>
        <result property="ctelphone" column="ctelphone"></result>
        <result property="caddress" column="caddress"></result>
        <result property="cidcard" column="cidcard"></result>
        <result property="csex" column="csex"></result>
        <result property="cpassword" column="cpassword"></result>
        <result property="handpic" column="handpic"></result>
        <result property="cstatus" column="cstatus"></result>
        <result property="isexpired" column="isexpired"></result>
        <result property="islocked" column="islocked"></result>
        <result property="isCreExpired" column="isCreExpired"></result>
        <result property="isenable" column="isenable"></result>

        <association property="customerrole_cust" javaType="com.aaa.Entity.Customerrole_cust">
            <result property="Cuid" column="Cuid"></result>
            <result property="Cid" column="Cid"></result>
            <result property="Crid" column="Crid"></result>
        </association>

        <association property="customerRole" javaType="com.aaa.Entity.CustomerRole">
            <result property="Crid" column="Crid"></result>
            <result property="Crname" column="Crname"></result>
            <result property="Crstate" column="Crstate"></result>
        </association>


    </resultMap>


    <resultMap id="TestRole" type="com.aaa.Entity.Customer">
        <result property="cid" column="cid"></result>
        <result property="cname" column="cname"></result>
        <result property="ctname" column="ctname"></result>
        <result property="ctelphone" column="ctelphone"></result>
        <result property="caddress" column="caddress"></result>
        <result property="cidcard" column="cidcard"></result>
        <result property="csex" column="csex"></result>
        <result property="cpassword" column="cpassword"></result>
        <result property="handpic" column="handpic"></result>
        <result property="cstatus" column="cstatus"></result>
        <result property="isexpired" column="isexpired"></result>
        <result property="islocked" column="islocked"></result>
        <result property="isCreExpired" column="isCreExpired"></result>
        <result property="isenable" column="isenable"></result>


        <association property="customerrole_cust" javaType="com.aaa.Entity.Customerrole_cust">
            <result property="Cuid" column="Cuid"></result>
            <result property="Cid" column="Cid"></result>
            <result property="Crid" column="Crid"></result>
        </association>
    </resultMap>


    <select id="showCustomer" resultMap="CustomerMap">
        select * from customer
        left join customerrole_cust on customerrole_cust.cid =customer.cid
        left join customerrole on customerrole_cust.CrId = customerrole.CrId
        left join customerrolemodule on customerrolemodule.crid = customerrole.crid
        left join customermodule on customermodule.Mid = customerrolemodule.mid
        left join customerfun on customerfun.mid = customermodule.mid
        left join customerauth on customerauth.cid = customer.cid
        left join customerAuthority on customerAuthority.caid = customerauth.Caid
    </select>

    <select id="showCustomerPage" resultType="com.aaa.Entity.Customer">
        select * from customer
        left join customerrole_cust on customerrole_cust.cid =customer.cid
        left join customerrole on customerrole_cust.CrId = customerrole.CrId
    </select>

    <select id="showCustomerMsg" resultMap="CustomerPage">
        select * from customer
        left join customerrole_cust on customerrole_cust.cid =customer.cid
        left join customerrole on customerrole_cust.CrId = customerrole.CrId
    </select>

    <delete id="DelCustomer" parameterType="Integer">
        delete from customer where cid =#{cid}
    </delete>

    <update id="UpCustomerStatus" parameterType="Integer">
        update customer set cstatus =0 where cid =#{cid}
    </update>

    <update id="UpCustomerStatusTow" parameterType="Integer">
        update customer set cstatus =1 where cid =#{cid}
    </update>

    <select id="showCustomerRole" resultType="com.aaa.Entity.CustomerRole">
        select * from customerrole
    </select>

    <select id="showCustomerId" resultMap="CustomerPage">
        select * from customer
        left join customerrole_cust on customerrole_cust.cid =customer.cid
        left join customerrole on customerrole_cust.CrId = customerrole.CrId
        where customer.cid =#{cid}
    </select>

    <select id="showCustomerRc" resultType="com.aaa.Entity.Customerrole_cust">
        select * from customerrole_cust where cid=#{cid}
    </select>

    <update id="UpCustomerRc" parameterType="Integer">
        update customerrole_cust set crid =#{crid} where cuid=#{cuid}
    </update>

    <insert id="AddCustomerRole" parameterType="Integer">
        insert into customerrole_cust(cid,crid)values(#{cid},#{crid})
    </insert>





</mapper>