<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.Dao.CustomerUserDao">
    <!--Ls  前台用户的Mapper-->
    <select id="findAll" resultMap="Csu_Map">
        select * from CustomerUser
    </select>
    <resultMap id="Csu_Map" type="com.aaa.Entity.Customeruser">
        <id property="cuid" column="cuid"></id>
        <result property="Cuname" column="Cuname"></result>
        <result property="CuTname" column="CuTname"></result>
        <result property="Cutelphone" column="Cutelphone"></result>
        <result property="Cucaddress" column="Cucaddress"></result>
        <result property="CuIdcard" column="CuIdcard"></result>
        <result property="Cusex" column="Cusex"></result>
        <result property="Cupassword" column="Cupassword"></result>
        <result property="CuhandPic" column="CuhandPic"></result>
        <result property="Custatus" column="Custatus"></result>
    </resultMap>

    <update id="editCstmUState">
        update customeruser set custatus = #{param2} where cuid = #{param1}
    </update>
</mapper>