<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa.Dao.ReceptionTestIngPeopleDao">

    <resultMap id="TestingPeopleMap" type="com.aaa.Entity.ReceptionTestIngPeople">
        <result property="ctid" column="ctid"></result>
        <result property="ctname" column="ctname"></result>
        <result property="cpeoplename" column="cpeoplename"></result>
        <result property="ctelphone" column="ctelphone"></result>
        <result property="cuaddress" column="cuaddress"></result>
        <result property="cloginname" column="cloginname"></result>
        <result property="cpassword" column="cpassword"></result>
        <result property="cstatus" column="cstatus"></result>
        <result property="cpig" column="cpig"></result>
        <result property="cprice" column="cprice"></result>
    </resultMap>

    <select id="shwoCustomerTestIngPeople" resultMap="TestingPeopleMap">
        select * from CustomerTestIngPeople
    </select>


    <select id="findAll" resultMap="CutTIP_Map">
        select * from customerTestingPeople left join customerinspector on customerTestingPeople.Ctid = customerinspector.CIid
    </select>

    <resultMap id="CutTIP_Map" type="com.aaa.Entity.CustomerTestIngPeople" autoMapping="true">
        <collection property="customerInspectors" javaType="List" ofType="com.aaa.Entity.CustomerInspector" autoMapping="true">
            <id property="CIid" column="CIid"></id>
        </collection>
    </resultMap>

    <select id="findCuState" resultMap="CutTIP_Map">
        select * from customerTestingPeople left join customerinspector on customerTestingPeople.Ctid = customerinspector.CIid  where customerTestingPeople.CuState = #{param1}
    </select>

    <update id="chageStatus">
        update CustomerTestIngPeople set Custate = #{param1} where Ctid = #{param2}
    </update>



</mapper>