<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.aaa.Dao.ReceptionUserDao">

    <resultMap id="ReceptionUserMap" type="com.aaa.Entity.Customeruser">
        <result property="Cuid" column="Cuid"></result>
        <result property="Cuname" column="Cuname"></result>
        <result property="CuTname" column="CuTname"></result>
        <result property="Cutelphone" column="Cutelphone"></result>
        <result property="Cucaddress" column="Cucaddress"></result>
        <result property="CuIdcard" column="CuIdcard"></result>
        <result property="Cusex" column="Cusex"></result>
        <result property="Cupassword" column="Cupassword"></result>
        <result property="CuhandPic" column="CuhandPic"></result>
        <result property="Custatus" column="Custatus"></result>
    </resultMap>


    <insert id="AddReceptionUser">
        insert into customeruser
        values(null,#{Cuname},#{CuTname},#{Cutelphone},#{Cucaddress},#{CuIdcard},#{Cusex},#{Cupassword},#{CuhandPic},#{Custatus})
    </insert>

    <select id="showCustomerLogin" resultMap="ReceptionUserMap">
        select * from customeruser where Cuname=#{param1} and Cupassword =#{param2}
    </select>

    <select id="showCustomeruser" resultMap="ReceptionUserMap">
        select * from customeruser where Cuname=#{userName}
    </select>

</mapper>