<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<!--[endif]-->

<head>
    <meta charset="utf-8" />
    <title>售车页面1</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="Xpedia" />
    <meta name="keywords" content="Xpedia" />
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320" />
    <!--Template style -->
    <link rel="stylesheet" type="text/css" href="/css/xpedia.css" />
    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="/images/fevicon.png" />

    <script type="text/javascript" src="/js/vue.js"></script> <!--在上-->

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 JavaScript-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>


    <script src="/js/vue-axios.js"></script>

    <script src="/utils/http.js"></script>



</head>

<body>
<div id="app">
    <!-- preloader Start -->
    <div id="preloader">
        <div id="status">
            <img src="/images/loader.gif" id="preloader_image" alt="loader">
        </div>
    </div>
    <div class="serach-header">
        <div class="searchbox">
            <button class="close">×</button>
            <form>
                <input type="search" placeholder="搜索 …">
                <button type="submit"><i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- x top header_wrapper Start -->
    <div class="x_top_header_wrapper float_left">
        <div class="container">
            <div class="x_top_header_left_side_wrapper float_left">
                <p>致电我们 : 0814 251 152</p>
            </div>
            <div class="x_top_header_right_side_wrapper float_left">
                <div class="x_top_header_social_icon_wrapper">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="x_top_header_all_select_box_wrapper">
                    <!--<ul>
                        <li class="login">	<a href="login.html"><i class="fa fa-power-off"></i> &nbsp;&nbsp;</a>
                        </li>
                        <li class="register">	<a href="Register.html"><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;</a>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
    </div>
    <!-- x top header_wrapper End -->
    <!-- hs Navigation Start -->
    <div class="hs_navigation_header_wrapper">
        <div class="container">
            <div class="row">
                <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="hs_logo_wrapper d-none d-sm-none d-xs-none d-md-block">
                        <a href="index.html">
                            <img src="/images/logo.png" class="img-responsive" alt="logo" title="Logo" />
                        </a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                    <div class="hs_navi_cart_wrapper  d-none d-sm-none d-xs-none d-md-block d-lg-block d-xl-block">
                        <div class="dropdown-wrapper menu-button menu_button_end"> <a class="menu-button" href="#"><i class="flaticon-shopping-cart"></i><span>3</span></a>
                            <div class="drop-menu">
                                <div class="cc_cart_wrapper1">
                                    <div class="cc_cart_img_wrapper">
                                        <img src="/images/cart_img.jpg" alt="cart_img" />
                                    </div>
                                    <div class="cc_cart_cont_wrapper">
                                        <h4><a href="#">汽车</a></h4>
                                        <p>Quantity : 2 × $45</p>
                                        <h5>$90</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>
                                <div class="cc_cart_wrapper1 cc_cart_wrapper2">
                                    <div class="cc_cart_img_wrapper">
                                        <img src="/images/cart_img.jpg" alt="cart_img" />
                                    </div>
                                    <div class="cc_cart_cont_wrapper">
                                        <h4><a href="#">Car</a></h4>
                                        <p>Quantity : 2 × $45</p>
                                        <h5>$90</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>
                                <div class="cc_cart_wrapper1">
                                    <div class="cc_cart_img_wrapper">
                                        <img src="/images/cart_img.jpg" alt="cart_img" />
                                    </div>
                                    <div class="cc_cart_cont_wrapper">
                                        <h4><a href="#">Car</a></h4>
                                        <p>Quantity : 2 × $45</p>
                                        <h5>$90</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="checkout_btn_resto">	<a href="car_checkout.html">结账</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="hs_main_menu d-none d-sm-none d-xs-none d-md-block">
                        <ul>
                            <li>
                                <div class="dropdown-wrapper menu-button"> <a class="menu-button" href="#">菜单</a>
                                    <div class="drop-menu"> <a class="menu-button" th:href="@{/ReceLogin/test1}">菜单主页</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-wrapper menu-button"> <a class="menu-button" href="#">我要卖车</a>
                                    <div class="drop-menu"> <a class="menu-button"  th:href="@{/SellCar/SellCarOne}" target="_blank">立即开始卖车</a>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropdown-wrapper menu-button"> <a class="menu-button" href="#">个人中心</a>
                                    <div class="drop-menu">
                                        <a class="menu-button" href="car_accessories.html">个人中心查看</a>
                                    </div>
                                </div>
                            </li>
                            <li> <a class="menu-button single_menu" href="team.html">出队 </a>
                            </li>
                            <li> <a class="menu-button single_menu" href="services.html">服务 </a>
                            </li>
                            <li>
                                <div class="dropdown-wrapper menu-button"> <a class="menu-button" href="#">博客</a>
                                    <div class="drop-menu"> <a class="menu-button" href="blog_category.html">博客类型</a>
                                        <a class="menu-button" href="blog_single.html">单博客</a>
                                    </div>
                                </div>
                            </li>
                            <li> <a class="menu-button single_menu" href="contact.html">联系 </a>
                            </li>
                        </ul>
                    </nav>
                    <header class="mobail_menu d-none d-block d-xs-block d-sm-block d-md-none d-lg-none d-xl-none">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-6">
                                    <div class="hs_logo">
                                        <a href="index.html">
                                            <img src="/images/logo.png" alt="Logo" title="Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-6">
                                    <div class="cd-dropdown-wrapper">
                                        <a class="house_toggle" href="#0">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="511.63px" height="511.631px" viewBox="0 0 511.63 511.631" style="enable-background:new 0 0 511.63 511.631;" xml:space="preserve">
												<g>
													<g>
														<path d="M493.356,274.088H18.274c-4.952,0-9.233,1.811-12.851,5.428C1.809,283.129,0,287.417,0,292.362v36.545
																	c0,4.948,1.809,9.236,5.424,12.847c3.621,3.617,7.904,5.432,12.851,5.432h475.082c4.944,0,9.232-1.814,12.85-5.432
																	c3.614-3.61,5.425-7.898,5.425-12.847v-36.545c0-4.945-1.811-9.233-5.425-12.847C502.588,275.895,498.3,274.088,493.356,274.088z" />
                                                        <path d="M493.356,383.721H18.274c-4.952,0-9.233,1.81-12.851,5.427C1.809,392.762,0,397.046,0,401.994v36.546
																	c0,4.948,1.809,9.232,5.424,12.854c3.621,3.61,7.904,5.421,12.851,5.421h475.082c4.944,0,9.232-1.811,12.85-5.421
																	c3.614-3.621,5.425-7.905,5.425-12.854v-36.546c0-4.948-1.811-9.232-5.425-12.847C502.588,385.53,498.3,383.721,493.356,383.721z" />
                                                        <path d="M506.206,60.241c-3.617-3.612-7.905-5.424-12.85-5.424H18.274c-4.952,0-9.233,1.812-12.851,5.424
																	C1.809,63.858,0,68.143,0,73.091v36.547c0,4.948,1.809,9.229,5.424,12.847c3.621,3.616,7.904,5.424,12.851,5.424h475.082
																	c4.944,0,9.232-1.809,12.85-5.424c3.614-3.617,5.425-7.898,5.425-12.847V73.091C511.63,68.143,509.82,63.861,506.206,60.241z" />
                                                        <path d="M493.356,164.456H18.274c-4.952,0-9.233,1.807-12.851,5.424C1.809,173.495,0,177.778,0,182.727v36.547
																	c0,4.947,1.809,9.233,5.424,12.845c3.621,3.617,7.904,5.429,12.851,5.429h475.082c4.944,0,9.232-1.812,12.85-5.429
																	c3.614-3.612,5.425-7.898,5.425-12.845v-36.547c0-4.952-1.811-9.231-5.425-12.847C502.588,166.263,498.3,164.456,493.356,164.456z
																	" />
													</g>
												</g>
                                                <g></g>
                                                <g></g>
                                                <g></g>
                                                <g></g>
                                                <g></g>
                                                <g></g>
                                                <g></g>
                                                <g></g>
                                                <g></g>
                                                <g></g>
                                                <g></g>
                                                <g></g>
                                                <g></g>
                                                <g></g>
                                                <g></g>
											</svg>
                                        </a>
                                        <!-- .cd-dropdown -->
                                    </div>
                                    <nav class="cd-dropdown">
                                        <h2><a href="index.html">Xpedia</a></h2>
                                        <a href="#0" class="cd-close">Close</a>
                                        <ul class="cd-dropdown-content">
                                            <li>
                                                <form class="cd-search">
                                                    <input type="search" placeholder="搜索...">
                                                </form>
                                            </li>
                                            <li class="has-children"> <a href="#">家</a>
                                                <ul class="cd-secondary-dropdown is-hidden">
                                                    <li class="go-back"><a href="#0">Menu</a>
                                                    </li>
                                                    <li> <a href="index.html">家我</a>
                                                    </li>
                                                    <!-- .has-children -->
                                                    <li> <a href="index_II.html">家庭</a>
                                                    </li>
                                                    <!-- .has-children -->
                                                </ul>
                                                <!-- .cd-secondary-dropdown -->
                                            </li>
                                            <li class="has-children"> <a href="#">汽车</a>
                                                <ul class="cd-secondary-dropdown is-hidden">
                                                    <li class="go-back"><a href="#0">Menu</a>
                                                    </li>
                                                    <li> <a href="car_accessories.html">汽车配件</a>
                                                    </li>
                                                    <li> <a href="car_booking.html">汽车预定</a>
                                                    </li>
                                                    <li><a href="car_booking_done.html">预定完成</a>
                                                    </li>
                                                    <li><a href="car_checkout.html">汽车结账</a>
                                                    </li>
                                                    <li><a href="car_detail_left.html"> 左车细节</a>
                                                    </li>
                                                    <li><a href="car_detail_right.html"> 右车细节</a>
                                                    </li>
                                                    <!-- .has-children -->
                                                </ul>
                                                <!-- .cd-secondary-dropdown -->
                                            </li>
                                            <li> <a href="about.html">关于</a>
                                            </li>
                                            <li> <a href="team.html">出队</a>
                                            </li>
                                            <li> <a href="services.html">服务</a>
                                            </li>
                                            <li class="has-children"> <a href="#">博客</a>
                                                <ul class="cd-secondary-dropdown is-hidden">
                                                    <li class="go-back"><a href="#0">Menu</a>
                                                    </li>
                                                    <li> <a href="blog_category.html">博客类别</a>
                                                    </li>
                                                    <!-- .has-children -->
                                                    <li> <a href="blog_single.html">单博客</a>
                                                    </li>
                                                    <!-- .has-children -->
                                                </ul>
                                                <!-- .cd-secondary-dropdown -->
                                            </li>
                                            <li> <a href="contact.html">联系</a>
                                            </li>
                                        </ul>
                                        <!-- .cd-dropdown-content -->
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- .cd-dropdown-wrapper -->
                    </header>
                </div>
            </div>
        </div>
    </div>
    <!-- hs Navigation End -->
    <!-- btc tittle Wrapper Start -->


    <div class="x_title_num_mian_Wrapper float_left">
        <div class="container">
            <div class="x_title_inner_num_wrapper float_left">
                <div class="x_title_num_heading">
                    <h3>检车流程</h3>
                </div>
                <div class="x_title_num_heading_cont">
                    <div class="x_title_num_main_box_wrapper">
                        <div class="x_icon_num">
                            <p>1</p>
                        </div>
                        <h5>上传您的车辆信息</h5>
                    </div>
                    <div class="x_title_num_main_box_wrapper x_title_num_main_box_wrapper2">
                        <div class="x_icon_num x_icon_num2">
                            <p>2</p>
                        </div>
                        <h5>选择检车商检验车辆</h5>
                    </div>
                    <div class="x_title_num_main_box_wrapper x_title_num_main_box_wrapper3">
                        <div class="x_icon_num x_icon_num3">
                            <p>3</p>
                        </div>
                        <h5>提交您的订单</h5>
                    </div>
                    <div class="x_title_num_main_box_wrapper x_title_num_main_box_wrapper3 x_title_num_main_box_wrapper_last">
                        <div class="x_icon_num x_icon_num3">
                            <p>4</p>
                        </div>
                        <h5>成功!</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- btc tittle Wrapper End -->
    <!-- xs offer car tabs Start -->
    <div class="x_partner_main_wrapper float_left padding_tb_100">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="x_offer_car_heading_wrapper float_left">
                        <h3>请上传您要出售的车辆信息</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-12">
                    <!-- login_wrapper -->

                    <div class="register_wrapper_box" style="width: 1500px; margin-left: -380px;">
                        <div class="register_left_form">
                            <!--action 图片上传的的实际路径    :auto-upload 是否自动提交-->
                            <el-upload
                                    action="#"
                                    list-type="picture-card"
                                    :auto-upload="false">
                                <i slot="default" class="el-icon-plus"></i>


                                <div slot="file" slot-scope="{file}">
                                    <img
                                            class="el-upload-list__item-thumbnail"
                                            :src="file.url" alt=""
                                    >
                                    <span class="el-upload-list__item-actions">
        <span
                class="el-upload-list__item-preview"
                @click="handlePictureCardPreview(file)"
        >
          <i class="el-icon-zoom-in"></i>
        </span>
        <span
                v-if="!disabled"
                class="el-upload-list__item-delete"
                @click="handleDownload(file)"
        >
          <i class="el-icon-download"></i>
        </span>
        <span
                v-if="!disabled"
                class="el-upload-list__item-delete"
                @click="handleRemove(file)"
        >
          <i class="el-icon-delete"></i>
        </span>
      </span>
                                </div>
                            </el-upload>

                            <el-dialog :visible.sync="dialogVisible">
                                <img width="100%" :src="dialogImageUrl" alt="">
                            </el-dialog>




                        </div>

                        <el-button type="primary" plain style="margin-top: 10px;" @click="GetCarMsg">自动获取车辆参数</el-button>




                        <div class="x_car_detail_slider_bottom_cont float_left">
                            <div class="x_car_detail_slider_bottom_cont_left">
                                <h3>外观配置</h3>
                            </div>
                            <div class="x_car_offer_heading x_car_offer_heading_listing float_left x_car_offer_heading_inner_car_names x_car_offer_heading_inner_car_names2">
                                <ul class="">
                                    <li>
                                        <a href="#"><i class="fa fa-users"></i> &nbsp; 车长:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{body.len}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-clone"></i> &nbsp;车宽:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{body.width}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-shield"></i> &nbsp;车高:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{body.height}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-briefcase"></i> &nbsp;电尾门:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{body.electricluggage}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-snowflake-o"></i>&nbsp;运动套装:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{body.sportpackage}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-snowflake-o"></i>&nbsp;行李箱宽度:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{body.luggagevolume}}</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="x_car_detail_slider_bottom_cont_left" style="margin-top: 20px;">
                                <h3>制动配置</h3>
                            </div>
                            <div class="x_car_offer_heading x_car_offer_heading_listing float_left x_car_offer_heading_inner_car_names x_car_offer_heading_inner_car_names2">
                                <ul class="">
                                    <li>
                                        <a href="#"><i class="fa fa-users"></i> &nbsp;车身结构:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{chassisbrake.bodystructure}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-clone"></i> &nbsp;前制动类型:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{chassisbrake.frontbraketype}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-shield"></i> &nbsp;后制动类型:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{chassisbrake.rearbraketype}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-briefcase"></i> &nbsp;驻车方式:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{chassisbrake.parkingbraketype}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-snowflake-o"></i>&nbsp;驾驶模式:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{chassisbrake.drivemode}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-snowflake-o"></i>&nbsp;前置车辆悬架:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{chassisbrake.frontsuspensiontype}}</a>
                                    </li>
                                </ul>
                            </div>


                            <div class="x_car_detail_slider_bottom_cont_left" style="margin-top: 20px;">
                                <h3>驾驶辅助设备配置</h3>
                            </div>
                            <div class="x_car_offer_heading x_car_offer_heading_listing float_left x_car_offer_heading_inner_car_names x_car_offer_heading_inner_car_names2">
                                <ul class="">
                                    <li>
                                        <a href="#"><i class="fa fa-users"></i> &nbsp;防抱死 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{drivingauxiliary.abs}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-clone"></i> &nbsp;电子制动分配 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{drivingauxiliary.ebd}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-shield"></i> &nbsp;制动辅助系统 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{drivingauxiliary.brakeassist}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-briefcase"></i> &nbsp;夜视系统 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{drivingauxiliary.nightvisionsystem}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-snowflake-o"></i>&nbsp;斜坡起步系统 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{drivingauxiliary.hillstartassist}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-snowflake-o"></i>&nbsp;倒车影像 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{drivingauxiliary.reverseimage}}</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="x_car_detail_slider_bottom_cont_left" style="margin-top: 20px;">
                                <h3>车辆基本配置</h3>
                            </div>
                            <div class="x_car_offer_heading x_car_offer_heading_listing float_left x_car_offer_heading_inner_car_names x_car_offer_heading_inner_car_names2">
                                <ul class="">
                                    <li>
                                        <a href="#"><i class="fa fa-users"></i> &nbsp;电动窗 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :{{doormirror.electricwindow}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-clone"></i> &nbsp;天窗类型 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{doormirror.skylightstype}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-shield"></i> &nbsp;雨刷类型 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{doormirror.sensingwiper}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-briefcase"></i> &nbsp;后视镜类型 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{doormirror.externalmirroradjustment}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-snowflake-o"></i>&nbsp;大灯类型 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{doormirror.autoheadlight}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-snowflake-o"></i>&nbsp;遮阳镜: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{doormirror.sunvisormirror}}</a>
                                    </li>
                                </ul>
                            </div>


                            <div class="x_car_detail_slider_bottom_cont_left" style="margin-top: 20px;">
                                <h3>车辆内部配置</h3>
                            </div>
                            <div class="x_car_offer_heading x_car_offer_heading_listing float_left x_car_offer_heading_inner_car_names x_car_offer_heading_inner_car_names2">
                                <ul class="">
                                    <li>
                                        <a href="#"><i class="fa fa-users"></i> &nbsp;方向盘调节: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :{{internalconfig.steeringwheeladjustmentmode}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-clone"></i> &nbsp;方向盘材料: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{internalconfig.steeringwheelmaterial}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-shield"></i> &nbsp;多功能方向盘 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{internalconfig.steeringwheelmultifunction}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-briefcase"></i> &nbsp;方向盘加热 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{internalconfig.steeringwheelheating}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-snowflake-o"></i>&nbsp;液晶屏幕 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{internalconfig.computerscreen}}</a>
                                    </li>

                                    <li>
                                        <a href="#"><i class="fa fa-snowflake-o"></i>&nbsp;水杯架: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{internalconfig.rearcupholder}}</a>
                                    </li>
                                </ul>
                            </div>










                            <div class="x_avanticar_btn float_left">
                                <ul>
                                    <li><a @click="Addcustomercellcar" style="color: black">现在预定 <i class="fa fa-arrow-right"></i></a>

                                    </li>
                                </ul>
                            </div>
                        </div>



                    </div>
                    <p class="btm_txt_register_form">如果您使用的是公用/共享计算机，我们建议您注销以防止对帐户的任何未经授权的访问</p>
                    <!-- /.login_wrapper-->
                </div>
            </div>
        </div>

    </div>

    <!-- x news latter Wrapper End -->
    <!-- x footer Wrapper Start -->
    <div class="x_footer_top_main_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="x_footer_top_left float_left">
                        <img src="/images/footer_logo.png" alt="logo">
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="x_footer_top_right float_left">
                        <div class="x_footer_top_title_box x_footer_top_title_box1">
                            <div class="x_footer_top_title_box_icon_cont">	<i class="flaticon-pie-chart"></i>
                                <h3>预约</h3>
                            </div>
                        </div>
                        <div class="x_footer_top_title_box">
                            <div class="x_footer_top_title_box_icon_cont">	<i class="flaticon-phone-call"></i>
                                <h3>联系我们的办公室</h3>
                            </div>
                        </div>
                        <div class="x_footer_top_title_box">
                            <div class="x_footer_top_title_box_icon_cont x_footer_top_title_box_icon_cont_first">	<i class="flaticon-home-page"></i>
                                <h3>最新消息</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- x footer Wrapper End -->
    <!-- x footer Wrapper Start -->
    <div class="x_footer_bottom_main_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="x_footer_bottom_box_wrapper float_left">
                        <h3>关于我们</h3>
                        <p>奉献礼节高尚，节制体魄和活力，使劳动和悲伤成为重要的事情。</p>	<span><a href="#">阅读更多 &nbsp;<i class="fa fa-angle-double-right"></i></a></span>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="x_footer_bottom_box_wrapper_second float_left">
                        <h3>信息</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-long-arrow-right"></i> &nbsp; 关于</a>
                            </li>
                            <li><a href="#"><i class="fa fa-long-arrow-right"></i> &nbsp; 服务</a>
                            </li>
                            <li><a href="#"><i class="fa fa-long-arrow-right"></i> &nbsp; 条款和条件</a>
                            </li>
                            <li><a href="#"><i class="fa fa-long-arrow-right"></i> &nbsp; 成为司机</a>
                            </li>
                            <li><a href="#"><i class="fa fa-long-arrow-right"></i> &nbsp; 最优惠的价格保证</a>
                            </li>
                            <li><a href="#"><i class="fa fa-long-arrow-right"></i> &nbsp; 隐私和Cookies政策</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="x_footer_bottom_box_wrapper_second float_left">
                        <h3>客户支持</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-long-arrow-right"></i> &nbsp; 常问问题</a>
                            </li>
                            <li><a href="#"><i class="fa fa-long-arrow-right"></i> &nbsp; 付款方式</a>
                            </li>
                            <li><a href="#"><i class="fa fa-long-arrow-right"></i> &nbsp; 预订提示</a>
                            </li>
                            <li><a href="#"><i class="fa fa-long-arrow-right"></i> &nbsp; 怎么说呢？</a>
                            </li>
                            <li><a href="#"><i class="fa fa-long-arrow-right"></i> &nbsp; 联系我们</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="x_footer_bottom_box_wrapper_third float_left">
                        <h3>有问题吗？</h3>
                        <div class="x_footer_bottom_icon_section float_left">
                            <div class="x_footer_bottom_icon">	<i class="flaticon-phone-call"></i>
                            </div>
                            <div class="x_footer_bottom_icon_cont">
                                <h4>全球免费电话</h4>
                                <p>808 - 111 - 9999</p>
                            </div>
                        </div>
                        <div class="x_footer_bottom_icon_section x_footer_bottom_icon_section2 float_left">
                            <div class="x_footer_bottom_icon x_footer_bottom_icon2">	<i class="flaticon-mail-send"></i>
                            </div>
                            <div class="x_footer_bottom_icon_cont">
                                <h4>给我们发电子邮件</h4>
                                <p><a href="#">listing@example.com</a>
                                </p>
                            </div>
                        </div>
                        <div class="x_footer_bottom_icon_section x_footer_bottom_icon_section2 float_left">
                            <div class="x_footer_bottom_icon x_footer_bottom_icon3">	<i class="fa fa-map-marker"></i>
                            </div>
                            <div class="x_footer_bottom_icon_cont x_footer_bottom_icon_cont2">
                                <h4><a href="#">在地图上查看</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="x_copyr_main_wrapper float_left">
        <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up"></i></a>
        <div class="container">
            <p>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
        </div>
    </div>


</div>
<!-- custom js-->
</body>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/jquery.menu-aim.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="/js/own-menu.js"></script>
<script src="/js/jquery.countTo.js"></script>
<script src="/js/jquery.inview.min.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/xpedia.js"></script>



<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
<script type="text/javascript">
    let js_this = window;

    new Vue({
        el:'#app',
        data: {
            ReuMsg: "",
            ruleForm: {
                cuname: '',
                cupassword: '',
                cuTname: '',
                cusex: '',
                cutelphone: '',
                name: '',
            },

            dialogImageUrl: '',
            dialogVisible: false,
            disabled: false,
            body:{
                len: '',
                width: '',
                height: '',
                electricluggage: '',
                sportpackage: '',
                luggagevolume: '',
            },
            chassisbrake:{
                bodystructure: '',
                frontbraketype: '',
                rearbraketype: '',
                parkingbraketype: '',
                drivemode: '',
                frontsuspensiontype: '',
            },
            drivingauxiliary:{
                abs: '',
                ebd: '',
                brakeassist: '',
                nightvisionsystem: '',
                hillstartassist: '',
                reverseimage: '',
            },
            doormirror:{
                electricwindow: '',
                skylightstype: '',
                sensingwiper: '',
                externalmirroradjustment: '',
                autoheadlight: '',
                sunvisormirror: '',
            },
            internalconfig:{
                steeringwheeladjustmentmode: '',
                steeringwheelmaterial: '',
                steeringwheelmultifunction: '',
                steeringwheelheating: '',
                computerscreen: '',
                rearcupholder: '',
            },
            fullscreenLoading: false,
            processes:[],


        },
        methods:{
            handleRemove(file) {
                console.log("handleRemove:"+JSON.stringify(file));//文件删除时触发的事件
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;//文件上传的的URL地址
                console.log("file.url:"+JSON.stringify(file));
                this.dialogVisible = true;
            },
            handleDownload(file) {//点击下载时触发的事件
                console.log("点击获取车辆信息:"+JSON.stringify(file));
                var CarMsgs =file.name;
                var storage =window.sessionStorage;
                storage.setItem("CarMsg",CarMsgs);
            },
            /*点击获取车辆参数*/
            GetCarMsg:function () {
                var storage =window.sessionStorage;
/*
                alert(storage.getItem("RegisterUserName"));

*/


                const loading = this.$loading({
                    lock: true,
                    text: '正在获取您的车辆参数信息',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                setTimeout(() => {
                    loading.close();
                }, 2500);

                console.log("车辆信息",storage.getItem("CarMsg"));
                var CarJpg =storage.getItem("CarMsg");
                const thisV =this;
                if(CarJpg ==null)
                {
                    this.$message({
                        showClose: true,
                        message: '您还没有上传您的车辆',
                        type: 'warning'
                    });
                }else
                {
                    axios.post("http://localhost:8091/CellCar/showCarMsg/"+CarJpg+"").then(function (response) {
                        console.log("获取到的车辆信息:",response.data.result[0].name);
                        storage.setItem("endCarNameMsg",response.data.result[0].name);
                        if(response.data.result[0].name !=null)
                        {
                            const loading = thisV.$loading({
                                lock: true,
                                text: '正在获取您的车辆参数信息',
                                spinner: 'el-icon-loading',
                                background: 'rgba(0, 0, 0, 0.7)'
                            });
                            setTimeout(() => {
                                loading.close();
                            }, 2500);

                            var full_name =response.data.result[0].name;
                            axios.post("http://localhost:8091/CellCar/showCarCname/"+full_name+"").then(function (responseA) {
                                console.log("车辆信息",responseA.data[0].id);
                                storage.setItem("EndCarId",responseA.data[0].id);
                                if(responseA.data[0].id !=null)
                                {
                                    const loading = thisV.$loading({
                                        lock: true,
                                        text: '正在获取您的车辆参数信息',
                                        spinner: 'el-icon-loading',
                                        background: 'rgba(0, 0, 0, 0.7)'
                                    });
                                    setTimeout(() => {
                                        loading.close();
                                    }, 2500);
                                    axios.post("http://localhost:8091/CellCar/GetCarMsgOk/"+responseA.data[0].id+"").then(function (response) {
                                        console.log("最终详情",response);
                                        thisV.body =response.data.result.body;
                                        thisV.chassisbrake =response.data.result.chassisbrake;
                                        thisV.drivingauxiliary =response.data.result.drivingauxiliary;
                                        thisV.doormirror =response.data.result.doormirror;
                                        thisV.internalconfig =response.data.result.internalconfig;
                                        if(response.data.result.body !=null)
                                        {
                                            thisV.$message({
                                                showClose: true,
                                                message: '成功为您获取您的车辆参数信息',
                                                type: 'success'
                                            });
                                        }

                                    })
                                }
                            })
                        }

                    })
                }
            },
            Addcustomercellcar:function () {
                const thisV =this;
                var storage =window.sessionStorage;
                var endcarId =storage.getItem("EndCarId");
                var userName =storage.getItem("RegisterUserName");
                var endcarmsg =storage.getItem("CarMsg");
                var endCarNameMsg =storage.getItem("endCarNameMsg");
                console.log("获取最终车辆编号",endcarId);
                console.log("获取登录人姓名",userName);
                console.log("获取最后车辆图片",endcarmsg);
                console.log("获取到的车辆名称:",endCarNameMsg);

                let UserId = null;
                axios.post("http://localhost:8091/CellCar/CheckUserName/"+userName+"").then(function (response) {
                    thisV.UserId =response.data[0].cuid;
                    storage.setItem("lsId",response.data[0].cuid);


                    let data = {"carId":endcarId,"cuid":response.data[0].cuid,"carImg":endcarmsg,"carName":endCarNameMsg};
                    axios.post("http://localhost:8091/CellCar/addReceptionCellCarController",data).then(function (response) {
                        console.log(response);
                        if(response.data ==1)
                        {
                            thisV.$message({
                                showClose: true,
                                message: '车辆上传成功,请去选择检车商进行车辆检验',
                                type: 'success'
                            });
                            window.location.href ="http://localhost:8091/SellCar/SellCarTow";
                        }
                    });
                });






            }

        },
        created:function() {

        },


    });


</script>

</html>
